@using Connect.Web.ViewModels
@model List<UserWithFriendsCountViewModel>

<div class="text-black flex items-baseline justify-between">
    <h3 class="text-base font-bold">People you may know</h3>
</div>

<div class="side-list">
    @foreach (var user in Model)
    {
        <div class="side-list-item">
            <a asp-controller="User" asp-action="UserDetails" asp-route-userId="@user.UserId">
                <img src="@(user.ProfilePictureUrl ?? "/images/avatars/user.png")" class="side-list-image rounded-full" />
            </a>
            <div class="flex-1">
                <a asp-controller="User" asp-action="UserDetails" asp-route-userId="@user.UserId">
                    <h4 class="side-list-title">@user.FullName</h4>
                </a>
                <div class="side-list-info">@user.FriendsCountDisplay</div>
            </div>
            <form asp-controller="Friend" asp-action="SendFriendRequest" method="post">
                <input type="hidden" name="receiverId" value="@user.UserId" />
                <button type="submit" class="button bg-primary-soft text-primary">Add Friend</button>
            </form>
        </div>
    }
</div>