@using System.Security.Claims
@using Connect.Application.StaticDetails
@using Connect.Domain.Entities
@model Connect.Web.ViewModels.FriendshipsViewModel

<main id="site__main" class="p-2.5 h-[calc(100vh-var(--m-top))] mt-[--m-top] xl:ml-[--w-side-sm] 2xl:ml-[--w-side]">
    <div class="mx-auto max-w-[1065px] 2xl:max-w-[1220px]">
        @if (Model.Friends.Any())
        {
            <div class="my-3 flex items-center justify-between sm:my-6">
                <div>
                    <h2 class="text-black text-base text-lg font-semibold">My Friends</h2>
                    <p class="text-gray-500 text-sm font-normal leading-6">Your personal network of friends and acquaintances. Connect, share, and stay in touch with the people who matter to you.</p>
                </div>
            </div>

            <div class="gap-2 grid grid-cols-2">
                @foreach (var friendship in Model.Friends)
                {
                    <div class="space-x-4 p-4 box flex rounded-md md:items-center">
                        <div class="w-14 h-14 relative flex-shrink-0 rounded-lg">
                            <img src="@friendship.ProfilePictureUrl"
                                 class="inset-0 absolute h-full w-full rounded-md object-cover shadow-sm" />
                        </div>

                        <div class="flex-1">
                            <a asp-controller="User" asp-action="UserDetails" asp-route-userId="@friendship.FriendId" class="text-black text-base font-semibold capitalize">@friendship.FullName</a>
                        </div>

                        <form asp-controller="Friend" asp-action="RemoveFriend" method="post">
                            <input type="hidden" name="friendshipId" value="@friendship.Id" />
                            <button type="submit" class="button bg-red-soft text-red gap-1 max-md:hidden">
                                <ion-icon name="remove-circle-outline" class="-ml-1 text-xl"></ion-icon> Remove
                            </button>
                        </form>
                    </div>
                }
            </div>
        }

        @if (Model.ReceivedRequests.Any())
        {
            <div class="my-3 flex items-center justify-between sm:my-6">
                <div>
                    <h2 class="text-black text-base text-lg font-semibold">Received Requests</h2>
                    <p class="text-gray-500 text-sm font-normal leading-6">See who wants to connect with you! Review and respond to incoming friend requests to expand your circle.</p>
                </div>
            </div>

            <div class="gap-2 grid grid-cols-2">
                @foreach (var request in Model.ReceivedRequests)
                {
                    <div class="space-x-4 p-4 box flex rounded-md md:items-center">
                        <div class="w-14 h-14 relative flex-shrink-0 rounded-lg">
                            <img src="@request.SenderProfilePictureUrl"
                                 class="inset-0 absolute h-full w-full rounded-md object-cover shadow-sm" />
                        </div>

                        <div class="flex-1">
                            <a asp-controller="User" asp-action="UserDetails" asp-route-userId="@request.SenderId" class="text-black text-base font-semibold capitalize">@request.SenderFullName</a>
                        </div>

                        <form asp-controller="Friend" asp-action="UpdateFriendRequest" method="post">
                            <input type="hidden" name="status" value="@FriendRequestStatus.Rejected" />
                            <input type="hidden" name="requestId" value="@request.RequestId" />
                            <button type="submit" class="button bg-red-soft text-red gap-1 max-md:hidden">
                                <ion-icon name="remove-circle-outline" class="-ml-1 text-xl"></ion-icon> Reject
                            </button>
                        </form>

                        <form asp-controller="Friend" asp-action="UpdateFriendRequest" method="post">
                            <input type="hidden" name="status" value="@FriendRequestStatus.Accepted" />
                            <input type="hidden" name="requestId" value="@request.RequestId" />
                            <button type="submit" class="button bg-primary-soft text-primary gap-1 max-md:hidden">
                                <ion-icon name="checkbox-outline" class="-ml-1 text-xl"></ion-icon> Accept
                            </button>
                        </form>
                    </div>
                }
            </div>
        }

        @if (Model.SentRequests.Any())
        {
            <div class="my-3 flex items-center justify-between sm:my-6">
                <div>
                    <h2 class="text-black text-base text-lg font-semibold">Pending Invitations</h2>
                    <p class="text-gray-500 text-sm font-normal leading-6">Track the friend requests you’ve sent. See who hasn’t responded yet and manage your pending invitations.</p>
                </div>
            </div>

            <div class="gap-2 grid grid-cols-2">
                @foreach (var request in Model.SentRequests)
                {
                    <div class="space-x-4 p-4 box flex rounded-md md:items-center">
                        <div class="w-14 h-14 relative flex-shrink-0 rounded-lg">
                            <img src="@request.ReceiverProfilePictureUrl"
                                 class="inset-0 absolute h-full w-full rounded-md object-cover shadow-sm" />
                        </div>

                        <div class="flex-1">
                            <a asp-controller="User" asp-action="UserDetails" asp-route-userId="@request.ReceiverId" class="text-black text-base font-semibold capitalize">@request.ReceiverFullName</a>
                        </div>

                        <form asp-controller="Friend" asp-action="CancelFriendRequest" method="post">
                            <input type="hidden" name="requestId" value="@request.RequestId" />
                            <button type="submit" class="button text-primary gap-1 max-md:hidden">
                                <ion-icon name="remove-circle-outline" class="-ml-1 text-xl"></ion-icon> Cancel
                            </button>
                        </form>
                    </div>
                }
            </div>
        }
    </div>
</main>